<body>
    <div class="container">
        <h3>Update Member Account</h3>
        <%=form_for @member, url: member_path(@member) do |f|%>
                <div class="form-group">
                  <%=f.hidden_field :_method, value: "PATCH" %>
                    <%=f.label "Username: "%>
                    <%=f.text_field :username, placeholder: "username"%>
                    <%=f.label "Actual Name: "%>
                    <%=f.text_field :name, placeholder: "actual name"%>
                    <%=f.label "Email: "%>
                    <%=f.text_field :email, placeholder: "email address" %>
                 
                </div>
                <div class="form-group">
                   <%=f.label "Role: "%> 
                    <%=f.select(:role, [["Member","Member"],["President","President"],["Vice President","Vice President"],["Secretary","Secretary"],["Webmaster","Webmaster"],["Alumnus/Alumna", "Alumnus/Alumna"],["Admin","admin"]], class: "form-control")%>
                    <%=f.label "Level: "%>
                    <%=f.select(:level, [["Expert"],["Journeyman"],["Novice"],["Beginner"]], class: "form-control")%>
    
                    <%=f.label "Graduation Year"%>
                    <%=f.number_field :grad_year, placeholder: 'graduation year'%> 
                </div>
                
            
            <%=f.submit "Update Member", class: 'btn btn-green'%>
            <%=link_to "Cancel", dashboard_path, class: "btn btn-danger"%>
        <%end%>
    </div>
</body>