<div class="card" id="members-panel">
    <div class="card-body">
        <h4 class="card-title">Club Members</h4>
        <div class="card-body">
            <table class="table table-responsive-lg">
                <thead>
                    <th scope="col">Name</th>
                    <th scope="col">Year</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col">Projects</th>
                    <th scope="col">Actions</th>
                </thead>
                <% @members.each do |m|%>
                <tr>
                    <td><%= link_to m.username, member_path(m)%></td>
                    <td><%=m.grad_year%></td>
                    <td><%=m.role%></td>
                    <td><%=m.status%></td>
                    <td>2</td>
                    <td>
                        <a href="<%=edit_admin_member_path(m)%>" class="btn btn-sm btn-warning">Edit</a>
                        <%=form_tag admin_member_path(m) do%>
                            <%=hidden_field_tag "_method", "DELETE"%>
                            <%=submit_tag "Delete", class:"btn btn-sm btn-danger"%>
                        <%end%>
                    </td>
                </tr>
                <%end%>
            </table>
            
        </div>
        
    </div>
    
</div>