<div class="card" id="members-panel">
    <div class="card-body">
        <h4 class="card-title">Club Members</h4>
        <div class="card-body">
            <table class="table table-responsive-lg">
                <thead>
                    <th scope="col">Name</th>
                    <th scope="col">Year</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col">Projects</th>
                    <th scope="col">Actions</th>
                </thead>
                <% @members.each do |m|%>
                <tr>
                    <td><%= link_to m.username, member_path(m)%></td>
                    <td><%=m.grad_year%></td>
                    <td><%=m.role%></td>
                    <td><%=m.status%></td>
                    <td><%=m.projects.count%></td>
                    <td>
                        <%= link_to "Edit", edit_admin_member_path(m)%> | 
                        
                        <%= link_to "Delete", admin_member_path(m), method: :delete, data: {confirm: "Y'all wanna delete #{m.username}? This caint be undone."}%>
                    </td>
                </tr>
                <%end%>
            </table>
            
        </div>
        
    </div>
    
</div>