<div class="card" id="members-panel">
    <div class="card-body">
        <h4 class="card-title">Club Members</h4>
        <div class="card-body">
            <table class="table table-sm table-responsive-lg">
                <thead>
                    <th scope="col">Name</th>
                    <th scope="col">Year</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col">Projects</th>
                    <th scope="col">Actions</th>
                </thead>
                <% @members.each do |m|%>
                <tr>
                    <td><%=m.username%></td>
                    <td><%=m.grad_year%></td>
                    <td><%=m.role%></td>
                    <td><%=m.status%></td>
                    <td>2</td>
                    <td>
                        <a href="<%=edit_admin_member_path(m)%>" class="btn btn-sm btn-warning">Edit</a>
                        <a href="" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
                <%end%>
            </table>
            
        </div>
        
    </div>
    
</div>