
<div class="modal fade" id="new_meeting_modal" tabindex="-1" role="dialog" aria-labelledby="new_meeting_form" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create New Meeting</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%=form_for Meeting.new, url: admin_meetings_path, class: "new-meeting-form" do |f|%>
            <div class="form-row">
                <%=f.date_field :date, placeholder: "date"%>
                <%=f.time_field :start_time, placeholder: "3:30 PM"%>
            </div>
            <div class="form-row">
                <%=f.text_area(:content, placeholder: "meeting agenda", size: "24x6")%>
            </div>
            
        
      </div>
      <div class="modal-footer">
          <%=f.submit "create meeting", class: 'btn btn-green' %>
      <%end%>
          <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div> 