<!DOCTYPE html>
<html>
  <head>
    <title>MHS Byte Club</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag asset_path("favicon.ico")%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
      <div>
        <%= yield %>
      </div>
    
    <footer>
      <div class="row">
        <div class="col">
          <p><a href="<%=root_path%>">MHS Byte Club</a></p>
          <p>Mundelein High School | 1350 W. Hawley St., Mundelein, IL, 60060</p>
        </div>
      </div>
    </footer>
  </body>
</html>
