<!DOCTYPE html>
<html>
  <head>
    <title>MHS Byte Club</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag asset_path("favicon.ico")%>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="<%=root_path%>"><img src="<%=image_path 'pacman'%>"/>Byte Club</a>
      
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class='collapse navbar-collapse' id="navbar-list">
        <ul class='navbar-nav mr-auto'>
          
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="" id="memberDropdown" role="button" data-toggle="dropdown" >
              <%=@me.username%>
            </a>
            <div class="dropdown-menu">
              <%=link_to "Profile", member_path(@me), class: "dropdown-item"%>
              <%=link_to "Edit Info", edit_member_path(@me), class: "dropdown-item"%>
              <div class="dropdown-divider"></div>
              <%=link_to "Logout", logout_path, class: "dropdown-item"%>

            </div>
          </li>
          
          
          <li class="nav-item"><a href="#" class="nav-link">Projects</a></li>
          <li class="nav-item"><%=link_to "Learn", learn_path, class: "nav-link"%></li>
        </ul>
      </div>  
        
        
    </nav>
      <div>
        <%= yield %>
      </div>
    
    <footer class="footer navbar-fixed-bottom">
          <p><a href="<%=root_path%>">MHS Byte Club</a> | Mundelein High School | 1350 W. Hawley St., Mundelein, IL, 60060</p>
    </footer>
  </body>
</html>
