<div class="container">
    <div class="card-columns">
    <% @members.each do |m|%>
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5 class='card-title inline'><%=link_to m.username, member_path(m) %></h5>
                    <small><a href="" data-target="#user-<%=m.id%>-bio" data-toggle="collapse" >bio</a></small>

                </div>
                <p class="text-muted"><%=m.name%>, <%=m.role%></p>
                <div class="controls">
                <% if !@me.nil?%>
                    <% if m.id==@me.id%>
                        <%=link_to "Edit", edit_member_path(@me), class: "btn btn-sm btn-yellow" %>
                    <%end%>
                <%end%>
            </div>
                

                <small class="card-text"><%=m.level%></small>
                <small class="card-text"><%=m.projects.count%> project(s)</small>
                <p class="collapse" id="user-<%=m.id%>-bio"><%=m.bio%></p>
                
            </div>
            <div class="card-footer text-right">
                <p class="text-muted">Member Since: <%=m.created_at.year%></p>

            </div>
        </div>
    <%end%>
</div>
    
</div>
