<body>
    <div class="container">
        <%=form_for @member, url: members_path do |f|%>
            <%=f.text_field :email, placeholder: "email"%>
            <%=f.text_field :username, placeholder: "username"%>
            <%=f.password_field :password, placeholder: "password"%>
            <%=f.text_field :github_username, placeholder: "github username"%>
            <%=f.number_field :grad_year, placeholder: 'graduation year'%>
            <%=f.submit%>
        <%end%>
    </div>
</body>