    <div>
        
    </div>
    <div id='controls'>
        <div class="container">
            
                <div class="member-image">
                    <%=image_tag 'pacman.png'%>
                </div>
                <div>
                    <h3><%=@member.username%></h3>
                    <small><%=@member.role%></small>
                    <small><%=@member.level%></small>
                </div>
            
            
            
            
            <a href="<%=edit_member_path(@member)%>" class="btn btn-warning">Update Info</a>
        
        </div>
        <div class='container'>
            <h3>My Projects</h3>
            <%=render "partials/projects_list"%>
        </div>
        
    </div>
